html(lang="en")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Cardo:400i" rel="stylesheet")
		title Talleres de Oracion y Vida
	body
		a(href="/")
			img(src="imgs/logo.png" class="espacio-arriba img-prin margen-izq center-block")
		nav(class="azulito-back padding-largo text-center espacio-arriba cardo")
			ul(class="no-lista row")
				a(href="/quienes-somos" class="col-md-3 grande inline-block azulosc") ¿Quiénes Somos?
				a(href="/que-hacemos" class="col-md-3 grande inline-block azulosc" ) ¿Qué Hacemos?
				a(href="/nuestro-fundador" class="col-md-3 grande inline-block azulosc") Nuestro Fundador
				a(href="/sesiones" class="col-md-3 grande inline-block azulosc") Sesiones	
		iframe(src='https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23FFFFFF&src=es.christian%23holiday%40group.v.calendar.google.com&color=%23125A12&ctz=America%2FBogota', style='border-width:0', width='400', height='300', frameborder='0', scrolling='no')