html(lang="en")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Cardo:400i" rel="stylesheet")
		title Talleres de Oracion y Vida
	body
		a(href="/")
			img(src="imgs/logo.png" class="espacio-arriba margen-izq img-prin")
		nav(class="azulito-back padding-largo text-center espacio-arriba cardo")
			ul(class="no-lista row")
				a(href="/quienes-somos" class="col-md-3 grande inline-block azulosc") ¿Quiénes Somos?
				a(href="/que-hacemos" class="col-md-3 grande inline-block azulosc" ) ¿Qué Hacemos?
				a(href="/nuestro-fundador" class="col-md-3 grande inline-block azulosc") Nuestro Fundador
				a(href="/sesiones" class="col-md-3 grande inline-block azulosc") Sesiones
		h2 IGNACIO LARRAÑAGA
		h3 Los Talleres de Oración y Vida con todos sus servicios fueron creados o fundados, por el Padre Ignacio Larrañaga un sacerdote capuchino, que nació en España. Fueron numerosos los libros que escribió dónde quedó plasmada la esencia de esta espiritualidad. La cual inició con los denominados Encuentros de Experiencia de Dios, de los cuales el P. Ignacio fue por mucho tiempo su animador. De allí surgieron los Talleres de Oración y Vida, luego sus servicios iniciaron hacia el año 1984.
		h3 Este proyecto inició desde cuando el Padre reunió a un grupo de laicos, con los que se reunía cada quince días. Ellos llevaban muchos mensajes, oraban y meditaban las escrituras. Luego se entregó el primer Manual y se siguió llevando esta experiencia a muchos otros países promoviendo los talleres y sus servicios. 	
