html(lang="en")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Cardo:400i" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet")
		title Talleres de Oracion y Vida
	body
		a(href="/")
			img(src="imgs/logo.png" class="espacio-arriba margen-izq img-prin")
		nav(class="azulito-back padding-largo text-center espacio-arriba cardo")
			ul(class="no-lista row")
				a(href="/quienes-somos" class="col-md-3 grande inline-block azulosc") ¿Quiénes Somos?
				a(href="/que-hacemos" class="col-md-3 grande inline-block azulosc" ) ¿Qué Hacemos?
				a(href="/nuestro-fundador" class="col-md-3 grande inline-block azulosc") Nuestro Fundador
				a(href="/sesiones" class="col-md-3 grande inline-block azulosc") Sesiones
		div(class="margen-izq-tal margen-der-tal espacio-arriba")
			h2 PROGRAMA EVANGELICO
			h3 Este es un eficaz programa de Nueva Evangelización, un servicio eclesial, cuyos servicios son dirigidos o impartidos por un Guía que tiene una misión. En la que el Guía pone en práctica el espíritu y el contenido del Manual.	
			h3 La labor principal de todo tallerista es seguir con el mensaje impartido por nuestro fundador el Padre Ignacio Larrañaga, y continuar su legado; contribuyendo así a la expansión de nuestra Asociación pero sobre todo de la palabra de Dios.
			h3 Buscamos encender la llama del amor de Dios en los corazones de nuestros participantes, que estos sientan la necesidad de buscar de Él, y la disposición para aprender todas y cada una de las enseñanzas que nos deja su palabra. 
