html(lang="en")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Cardo:400i" rel="stylesheet")
		title Talleres de Oracion y Vida
	body
		a(href="/")
			img(src="imgs/logo.png" class="espacio-arriba margen-izq img-prin")
		nav(class="azulito-back padding-largo text-center espacio-arriba cardo")
			ul(class="no-lista row")
				a(href="/quienes-somos" class="col-md-3 grande inline-block azulosc") ¿Quiénes Somos?
				a(href="/que-hacemos" class="col-md-3 grande inline-block azulosc" ) ¿Qué Hacemos?
				a(href="/nuestro-fundador" class="col-md-3 grande inline-block azulosc") Nuestro Fundador
				a(href="/sesiones" class="col-md-3 grande inline-block azulosc") Sesiones	
		h2 GUÍAS
		h3 Somos Laicos, que se agrupan por zonas, conformando las coordinaciones, que mantenemos una estrecha relación entre nosotros y con nuestros Pastores.
		h3 Los guías somos una asociación de evangelistas fieles a la iglesia, aprobados por la Santa Sede.
		h3 Un grupo numeroso repartidos por en el mundo entero, contamos con más de 18000 guias ubicados en más de 44 países. Este gran número cumple con las obligaciones inherentes a la Asociación.
