html(lang="en")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Cardo:400i" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet")
		title Talleres de Oracion y Vida
	body
		a(href="/")
			img(src="imgs/logo.png" class="espacio-arriba margen-izq img-prin")
		nav(class="azulito-back padding-largo text-center espacio-arriba cardo")
			ul(class="no-lista row")
				a(href="/quienes-somos" class="col-md-3 grande inline-block azulosc") ¿Quiénes Somos?
				a(href="/que-hacemos" class="col-md-3 grande inline-block azulosc" ) ¿Qué Hacemos?
				a(href="/nuestro-fundador" class="col-md-3 grande inline-block azulosc") Nuestro Fundador
				a(href="/sesiones" class="col-md-3 grande inline-block azulosc") Sesiones	
		div(class="margen-izq-tal margen-der-tal espacio-arriba")
			h2 Cursillo Biblico
			a(href="https://drive.google.com/open?id=1hTpmDYmjzzZaVwLIJIKCBEM6YrCdjIQI") Sesiones 
			h3 En estas sesiones vamos a aprender mas acerca de la biblia, por eso el nombre de cursillo biblico. Es un curso en el cual aprenderemos la importancia de la palabra de Dios y de saber interpretar correctamente las enseñanzas que esta nos deja.


