body{
	background-color: #215C69; 
}
.img-prin{
	max-width: 80%;

}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 60px;
}
.cardo{
	font-family: 'Cardo', serif;

}
.grande{
	font-size: 2em;
}
.rojito{
	color: #F2845C;
}
.no-lista li{
	list-style-type: none;
}
.no-lista{
	padding:  7px;
	border-right-width: 100px;
}
.azulito-back{
	background-color: #BADEFF;
}
.padding.largo{
	padding: 5px 10px;
}
.margen-izq{
	margin-left: 655px;
}
.azulosc{
	color: #1B3440;
}
.margen-izq-tal{
	margin-left: 20px;
}
.img-tal{
	max-width: 20%;
}
.margen-tal{
	margin-top: 40px;
}
.color{
	color: #F5F1D5;
}