
body{	/*inicializacion de la pagina se añade background y fuente predeterminada*/
	background-color: #F5F1D5; 
	font-family: 'Alice', serif;
}
.img-prin{	 /*este metodo ajusta el tamaño y el margen de la imagen principal*/
	max-width: 80%;
	margin-top: 70px;
}
.img{ 	/*este metodo ajusta el tamaño de las imagenes*/
	max-width: 30%;
}
.espacio-arriba{	/*este metodo es para establecer un margen arriba*/
	margin-top: 40px;
}
.cardo{		/*este metodo añade una fuente de texto*/
	font-family: 'Cardo', serif;
}
.grande{	/*este metodo aumenta el tamaño del texto*/
	font-size: 2em;
}
.rojito{	/*este metodo añade un color al texto*/
	color: #F2845C;
}
.no-lista{	  /*este metodo elimina las viñetas de una columna o lista*/
	padding:  7px;
	border-right-width: 100px;
}
.rojito-back{	/*este metodo añade un color de fondo*/
	background-color: #F2845C;
}
.padding.largo{		/*este metodo establece los tamaños del padding*/
	padding: 5px 10px;
}
.margen-izq-prin{	/*este metodo etablece el margen de la imagen pincipal para que quede centrada*/
	margin-left: 655px;
}
.margen-izq-tal{	/*este metodo establece un margen izquierdo para una mejor visualizacion de los elementos*/
	margin-left: 110px;
}
.margen-der-tal{    /*este metodo establece un margen derecho para una mejor visualizacion de los elementos*/
	margin-right: 100px;
}
.margen-izq{	/*este metodo establece un margen izquierdo para una mejor visualizacion de los elementos*/
	margin-left: 117px;
}
.margen-down{	 /*este metodo es para establecer un margen debajo, en este caso es para eliminarlo*/
	margin-bottom: 0px;
}
.azulosc{	/*este metodo añade un color al texto*/
	color: #1B3440;
}
.negrita{ /*este metodo añade negrita al texto*/
	font-weight: bold;
}
.margen-arr{	/*este metodo es para establecer un margen arriba*/
	margin-top: 80px;
}
.img-fundador{		/*este metodo es para establecer un margen arriba*/
	margin-top: 50px;
}
.img-grande{	 /*este metodo hace que la imagen siempre se vea al 100% de su tamaño*/
	min-width: 100%;
}
.margen-link{	/*este metodo establece un margen izquierdo para una mejor visualizacion de los elementos*/
	margin-left: 0px;
}
