body{
	background-color: #F5F1D5; 
	font-family: 'Alice', serif;
}
.img-prin{
	max-width: 80%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 60px;
}
.cardo{
	font-family: 'Cardo', serif;
}
.grande{
	font-size: 2em;
}
.rojito{
	color: #F2845C;
}
.no-lista li{
	list-style-type: none;
}
.no-lista{
	padding:  7px;
	border-right-width: 100px;
}
.azulito-back{
	background-color: #F2845C;
}
.padding.largo{
	padding: 5px 10px;
}
.margen-izq{
	margin-left: 655px;
}
.margen-izq-tal{
	margin-left: 100px;
}
.margen-der-tal{
	margin-right: 100px;
}
.margen-der-ext{
	margin-right: 600px;
}


